*{
    font-family: "outfit",sans-serif;
}
.eye-icon {
    position: absolute;
    right: 28px;
    top: 76%;
    transform: translateY(-50%);
    cursor: pointer;
}
.position-relative {
    position: relative;
}
.form-label {
    font-weight: bold;
}
.required-star {
    color: red;
}
.login-box {
    background-color: #fff;
    padding: 2rem;
    border-radius: 10px;
    box-shadow: 0 0 15px rgba(0, 0, 0, 0.1);
}
h2 {
    font-family: 'Barlow', sans-serif;
    font-weight: 700;
}
#label{
    text-align:left;
    margin-right:342px;
}
#labell{
    margin-right:269px;
}
#labelll{
    margin-right:249px;
}
#labeel{
    margin-right:223px;
}
.login-box {
background-color: white;
padding: 30px;
border-radius: 10px;
box-shadow: 0px 0px 15px rgba(0, 0, 0, 0.1);
width: 430px;
text-align: center;
margin-right:214px;
}
#heading{
font-family: "outfit",sans-serif;
}
#error{
font-size:12px;
text-align:left;
margin-right: 245px;
}

.position-relative {
position: relative;
}

.eye-icon {
top: 50%;
right: 10px;
transform: translateY(-50%);
cursor: pointer;
color: #6c757d;
}

.eye-icon i {
font-size: 1.2rem;
margin-top:37px;
color:black;
}

input.form-control {
padding-right: 40px; 
}
#errorr{
font-size:12px;
text-align:left;
margin-right: 105px;    
}
